
services:
  # -------------------------
  # ZOOKEEPER
  # -------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  # -------------------------
  # KAFKA
  # -------------------------
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  db:
    env_file:
      - .env
    container_name: db
    image: postgres
    restart: always
    volumes:
      - postgrevolume:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: $SQLPASSWORD
      POSTGRES_USER: $SQLUSER
      POSTGRES_DBE: $SQLDATABASE
    ports:
      - '5432'
  
  pgadmin:
    image: dpage/pgadmin4:9.12.0
    container_name: pgadmin
    depends_on: 
      - db
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: $PGADMIN_DEFAULT_EMAIL
      PGADMIN_DEFAULT_PASSWORD: $PGADMIN_DEFAULT_PASSWORD
    ports:
      - "5050:80"

  web:
    image: nginx
    volumes:
    - ./nginx:/etc/nginx
    - ./cards:/usr/share/cards:ro
    ports:
    - "8080:80"
    environment:
    - NGINX_HOST=dev.rayh
    - NGINX_PORT=80
  
  redis:
    image: redis
    container_name: redis-app
    ports:
      - "6379:6379"

volumes:
  postgrevolume:
    external: true
